.body {
	position: relative;

	&__content {
		width: 100%;
		z-index: 2;
		position: relative;
		display: flex;
		justify-content: center;
	}

	&__form {
		min-height: 100vh;
		padding-top: 70px;
		padding-bottom: 70px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (max-width: 991px) {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}

	&__logo {
		position: relative;

		& svg {
			max-width: 100%;
			height: auto;
		}
	}

	&__balls {
		position: absolute;
		max-width: 90%;
		height: auto;
		top: -6%;
		display: none;

		@media (max-width: 575px) {
			top: -3%;
			max-width: 100%;
		}
	}

	&__tree {
		position: absolute;
		bottom: 0;
		left: 3%;
		max-width: 97%;
		height: auto;
		display: none;

		@media (max-width: 767px) {
			opacity: .5;
		}
	}

	&._ny {
		& .body__balls,
		& .body__tree {
			display: block;
		}
	}
}